files:
    "/tmp/appagent.zip":
      mode: "000444"
      owner: ec2-user
      group: ec2-user
      source: https://packages.appdynamics.com/java/4.4.0.3/AppServerAgent-4.4.0.3.zip
    "/tmp/machineagent.zip":
      mode: "000444"
      owner: ec2-user
      group: ec2-user
      source: https://packages.appdynamics.com/machine/4.4.1.570/MachineAgent-4.4.1.570.zip
    "/tmp/appd_env.sh":
      mode: "000755"
      owner: ec2-user
      group: ec2-user
      source: https://raw.githubusercontent.com/michaelenglert/aws-elasticbeanstalk/master/java-machine/appd_env.sh

# commands are executed in alphabetical order
commands:
    01reset:
      command: "rm -rf /opt/appdynamics"
      ignoreErrors: true
    02makedir-appagent:
      command: "mkdir -p /opt/appdynamics/appagent"
    02makedir-machineagent:
      command: "mkdir -p /opt/appdynamics/machineagent"
    03unzip-appagent:
      command: "unzip /tmp/appagent.zip"
      cwd: /opt/appdynamics/appagent
    03unzip-machineagent:
      command: "unzip /tmp/machineagent.zip"
      cwd: /opt/appdynamics/machineagent
    04perms-appagent:
      command: "sudo chown -R webapp:webapp appagent"
      cwd: /opt/appdynamics
    04perms-machineagent:
      command: "sudo chown -R webapp:webapp machineagent"
      cwd: /opt/appdynamics
    05env-set:
      command: "/tmp/appd_env.sh"
    05env-persist:
      command: "printenv | grep -e JAVA_O -e APPDYNAMICS >> /etc/environment"
    06cleanup:
      command: "rm /tmp/*agent.zip /tmp/appd_env.sh"
      ignoreErrors: true

services:
    sysvinit:
      machineagent:
        enabled: true
        commands:
          - "/opt/appdynamics/machineagent/bin/machine-agent"

option_settings:
    aws:elasticbeanstalk:application:environment:
      APPDYNAMICS_CONTROLLER_HOST_NAME: always.appd.duckdns.org
      APPDYNAMICS_CONTROLLER_PORT: 443
      APPDYNAMICS_CONTROLLER_SSL_ENABLED: true
      APPDYNAMICS_AGENT_ACCOUNT_NAME: customer1
      APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY: H16h53cur3
      APPDYNAMICS_AGENT_APPLICATION_NAME: eb
      APPDYNAMICS_AGENT_TIER_NAME: tier
      JAVA_OPTS: -Dappdynamics.agent.reuse.nodeName=true -Dappdynamics.agent.reuse.nodeName.prefix=node -javaagent:/opt/appdynamics/appagent/javaagent.jar
