files:
    "/tmp/appagent.zip":
      mode: "000444"
      owner: ec2-user
      group: ec2-user
      source: https://packages.appdynamics.com/java/4.4.0.3/AppServerAgent-4.4.0.3.zip
    "/tmp/appd_env.sh":
      mode: "000700"
      owner: root
      group: root
      source: https://raw.githubusercontent.com/michaelenglert/aws-elasticbeanstalk/master/java/appd_env.sh

commands:
    01reset:
      command: "rm -rf /opt/appdynamics"
      ignoreErrors: true
    02makedir-appagent:
      command: "mkdir -p /opt/appdynamics/appagent"
    03unzip-appagent:
      command: "unzip /tmp/appagent.zip"
      cwd: /opt/appdynamics/appagent
      cwd: /opt/appdynamics/machineagent
    04perms-appagent:
      command: "chown -R webapp:webapp appagent"
      cwd: /opt/appdynamics
    05setenv:
      command: "/tmp/appd_env.sh"
    06cleanup:
      command: "rm /tmp/*agent.zip /tmp/appd_env.sh"
      ignoreErrors: true

option_settings:
    aws:elasticbeanstalk:application:environment:
      APPDYNAMICS_CONTROLLER_HOST_NAME:
      APPDYNAMICS_CONTROLLER_PORT:
      APPDYNAMICS_CONTROLLER_SSL_ENABLED:
      APPDYNAMICS_AGENT_ACCOUNT_NAME:
      APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY:
      APPDYNAMICS_AGENT_APPLICATION_NAME:
      JAVA_OPTS: -javaagent:/opt/appdynamics/appagent/javaagent.jar
