files:
    "/tmp/appagent.zip":
      mode: "000444"
      owner: ec2-user
      group: ec2-user
      source: https://packages.appdynamics.com/java/4.4.0.3/AppServerAgent-4.4.0.3.zip
    "/tmp/appd.sh":
      mode: "000755"
      owner: ec2-user
      group: ec2-user
      source: https://raw.githubusercontent.com/appdynamics/aws-elasticbeanstalk/master/java/appd.sh

container_commands:
    01enable-appd:
      command: "/tmp/appd.sh"

option_settings:
    aws:elasticbeanstalk:application:environment:
# Optional Variables are commented out
      APPDYNAMICS_CONTROLLER_HOST_NAME:
      APPDYNAMICS_CONTROLLER_PORT:
      #APPDYNAMICS_CONTROLLER_SSL_ENABLED:
      #APPDYNAMICS_AGENT_ACCOUNT_NAME:
      APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY:
      APPDYNAMICS_AGENT_APPLICATION_NAME:
      #APPDYNAMICS_AGENT_TIER_NAME:
